<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorebase.scorebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sign.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign.SignUpDetailActivity"></activity>
        <activity android:name=".Main.MainActivity"></activity>
        <activity android:name=".Sign.ForgotPasswordActivity"></activity>
        <activity android:name=".Main.AddGroupActivity"></activity>
        <activity android:name=".Main.Group.GroupActivity"></activity>
        <activity android:name=".Board.GamesActivity"></activity>
        <activity android:name=".Board.ScoreBoardActivity"></activity>
    </application>

</manifest>